<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employee Search</title>
</head>
<body>
    <h1>Search by Requirement:</h1>
    <h2>EX: PSI - 01,BU1,Location1,Project</h2>
    <form id="searchForm" action="/search" method="POST">
        <select id="searchOption" name="option">
            <option value="psi_id">PSI ID</option>
            <option value="location">Location</option>
            <option value="bu">BU</option>
            <option value="project">Project</option>
        </select>
        <input id="searchValue" type="text" name="value" placeholder="Enter value">
        <button type="submit">Search</button>
    </form>
</body>
</html>
